<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.baek.blog.mapper.CategoryMapper">

    <select id="findById" parameterType="Long" resultType="com.baek.blog.entity.Category">
        SELECT * FROM categories WHERE id = #{id}
    </select>

    <select id="findAll" resultType="com.baek.blog.entity.Category">
        SELECT * FROM categories
    </select>

    <insert id="insertCategory" parameterType="com.baek.blog.entity.Category">
        INSERT INTO categories (name, description)
        VALUES (#{name}, #{description})
    </insert>

    <update id="updateCategory" parameterType="com.baek.blog.entity.Category">
        UPDATE categories
        SET name = #{name}, description = #{description}
        WHERE id = #{id}
    </update>

    <delete id="deleteCategory" parameterType="Long">
        DELETE FROM categories WHERE id = #{id}
    </delete>

</mapper>
