<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.baek.blog.mapper.UserMapper">

    <select id="findByEmail" parameterType="String" resultType="com.baek.blog.entity.User">
        SELECT * FROM users WHERE email = #{email}
    </select>

    <insert id="insertUser" parameterType="com.baek.blog.entity.User">
        INSERT INTO users (username, email, password, created_at)
        VALUES (#{username}, #{email}, #{password}, #{createdAt})
    </insert>

</mapper>
